
.loading {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
}

.backgroundAnimation {
  height: 4px;
  background: #27c4f5 -webkit-gradient(linear, left top, right top, from(#27c4f5), color-stop(#a307ba), color-stop(#fd8d32), color-stop(#70c050), to(#27c4f5));
  background: #27c4f5 linear-gradient(to right, #27c4f5, #a307ba, #fd8d32, #70c050, #27c4f5);
  background-size: 500%;
  -webkit-animation: 2s linear infinite progress, 0.3s fade-in !important;
  animation: 2s linear infinite progress, 0.3s fade-in !important;
  width: 100%;
}
@-webkit-keyframes progress {
  0% {
    background-position: 0% 0;
  }
  to {
    background-position: 125% 0;
  }
}
@keyframes progress {
  0% {
    background-position: 0% 0;
  }
  to {
    background-position: 125% 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
