.section {
  padding: 1.2rem 0.5rem;
}

.profile-section {
  padding-top: 48px;
}

.profile-section-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.profile-info {
  margin-left: 8px;
  p {
    margin-top: 8px;
  }
}

.profile-pic {
  width: 150px;
  margin-top: 16px;
  border: 1px solid #eee;
  border-radius: 50%;
  cursor: pointer;
}

span {
  margin-left: 8px;
}

.settings-icon {
  cursor: pointer;
}

/* Media Queries */
@media screen and (min-width: 1089px) {
  .profile-section {
    padding-top: 64px;
  }
}
