<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h3 class="title is-3">Create Post</h3>
        <div class="notification is-danger" *ngIf="isError">
          <button class="delete" (click)="removeErrorMessage($event)"></button>
          {{ errorMessage }}
        </div>
        <form enctype="multipart/form-data" [formGroup]="createPostForm" (ngSubmit)="createPost()">
          <div class="field">
              <label for="description">Image <small>(please make sure image have 1x1 aspect ratio for better display)</small></label>
            <file-pond #imageUpload [options]="pondOptions" (onaddfile)="onFilesAdded()"
              (onremovefile)="onFilesAdded()">
            </file-pond>
            <p class="help is-danger" *ngIf="isError">This email is invalid</p>
          </div>

          <div class="field">
            <div class="control">
              <label for="description">Caption</label>
              <textarea class="textarea" name="description" placeholder="Write a caption..." formControlName="description"></textarea>
            </div>
          </div>

          <div class="field"z>
            <div class="control">
              <label for="location">Add Location (Optional)</label>
              <input class="input" type="text" placeholder="Add Location" name="location" (focus)="getGeoLocation()" formControlName="location">
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button type="button" class="button is-link" (click)="createPost()"
                [disabled]="uploadedFiles?.length === 0 || !createPostForm.valid">Post</button>
            </div>
            <div class="control">
              <button type="button" class="button is-text" routerLink="/home">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
