.sprite-icon {
  background-image: url(/assets/icons/icons-sprite.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.profile-icon {
  background-position: 0 -158px;
}

.heart-icon {
  background-position: -130px -158px;
}

.explore-icon {
  background-position: -241px -52px;
}
