.filepond--item {
  width: calc(50% - .5em);
}

@media (min-width: 30em) {
  .filepond--item {
      width: calc(33.33% - .5em);
  }
}

@media (min-width: 50em) {
  .filepond--item {
      width: calc(33.33% - .5em);
  }
}
