# Set to production when deploying to production
NODE_ENV=development

# Client Config
CLIENT_URL = 'http://localhost:4200/'
ASSETS_URL = 'http://localhost:5000/assets/'

# Mongo DB Configuration
MONGO_URL = 'mongodb://localhost/'
MONGO_DB_NAME = 'anstagram'


# Email Config
EMAIL_USERNAME = ''
EMAIL_PASSWORD = ''
EMAIL_SENDER_NAME = 'Anstagram'
