.profile-icon {
  background-position: 0 -158px;
}

.heart-icon {
  background-position: -130px -158px;
}

.explore-icon {
  background-position: -241px -52px;
}

.mobile-nav {
  display: flex;
  justify-content: space-around;
  bottom: 0;
  position: fixed;
  background: #f5f5f5;
  width: 100%;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

/* Media Queries */
@media screen and (min-width: 1089px) {
  .mobile-nav {
    display: none;
  }
}
