<div class="columns is-centered">
  <div class="column is-half">
    <div class="card large">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-32x32">
              <img class="is-rounded" src="http://www.radfaces.com/images/avatars/alex-mack.jpg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-5 no-padding">Alex Mack</p>
          </div>
        </div>
      </div>
      <div class="card-image">
        <figure class="image">
          <img src="https://source.unsplash.com/Gnxquq4oYQc" alt="Image">
        </figure>
      </div>
      <div class="card-content space-between">
        <div class="left">
          <span class="icon is-medium">
            <fa-icon icon="heart"></fa-icon>
          </span>
          <span class="icon is-medium">
            <fa-icon icon="comment"></fa-icon>
          </span>
        </div>

        <div class="right">
          <span class="icon is-medium">
            <fa-icon icon="bookmark"></fa-icon>
          </span>
        </div>
      </div>
      <div class="card-content">
        <div class="content">
          This is Demo Post for Testing
          <br>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
      </div>
    </div>
  </div>
</div>
