<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <div class="card large">
      <div class="card-image">
        <figure class="image">
          <img src="https://source.unsplash.com/Gnxquq4oYQc" alt="Image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <img src="http://www.radfaces.com/images/avatars/alex-mack.jpg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4 no-padding">Alex Mack</p>
            <p><span class="title is-6"><a href="http://twitter.com/#">@twitterid</a></span></p>
            <p class="subtitle is-6">Moderator</p>
          </div>
        </div>
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequatur numquam aliquam tenetur ad
          amet inventore hic beatae, quas accusantium perferendis sapiente explicabo, corporis totam! Labore
          reprehenderit beatae magnam animi!
        </div>
      </div>
    </div>
  </div>
</div>
