<div class="columns is-centered feed-card">
  <div class="column is-half">
    <div class="card large">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-32x32">
              <img class="is-rounded" [src]="feed?.userInfo?.avatar ? feed?.userInfo?.avatar : defaultAvatar" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-5 no-padding">{{ feed?.userInfo?.firstName }} {{ feed?.userInfo?.lastName }}</p>
          </div>
        </div>
      </div>
      <div class="card-image">
        <figure class="image">
          <img [src]="feed?.media[0]" alt="Image">
        </figure>
      </div>
      <div class="card-content space-between">
        <div class="left">
          <img class="feed-icons" [src]="heartIcon" (click)="like()" alt="like">
          <img class="feed-icons" src="/assets/icons/comment-icon.png" alt="comment">
        </div>

        <div class="right">
          <img class="feed-icons" src="/assets/icons/bookmark-icon.png" alt="bookmark">
        </div>
      </div>
      <div class="card-content">
        <div class="content">
          {{ feed.description }}
          <br>
          <time datetime="2016-1-1">{{feed.createdAt | date: 'medium'}}</time>
          <br>
          <div class="comment-box">
            <input type="text" placeholder="Add a comment...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
