.space-between {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0px;
}

.feed-icons {
  height: 24px;
  width: 24px;
}

.left {
  img {
    margin-right: 16px;
  }
}

.left, .right {
  img {
    cursor: pointer;
  }
}
