.sprite-icon {
  background-image: url(/assets/icons/icons-sprite.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.profile-icon {
  background-position: 0 -158px;
}

.heart-icon {
  background-position: -130px -158px;
}

.explore-icon {
  background-position: -241px -52px;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  background: #F5F5F5;
  .items {
    display: flex;
    justify-content: space-evenly;
  }
}

nav {
  visibility: hidden;
}

/* Media Queries */
@media screen and (min-width: 1089px) {
  nav {
    visibility: visible;
    padding: 0px 170px;
  }

  .mobile-nav {
    display: none;
  }
}
