<nav class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <img src="assets/logo/anstagram-transperent-logo.png" alt="logo" width="112" height="28">
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item">
        <span class="sprite-icon explore-icon"></span>
      </a>
      <a class="navbar-item">
        <span class="sprite-icon heart-icon"></span>
      </a>
      <a class="navbar-item">
        <span class="sprite-icon profile-icon"></span>
      </a>
      <a class="navbar-item" (click)="logout()">
        <img src="/assets/icons/logout-icon.png" width="24" height="24" alt="logout">
      </a>
    </div>
  </div>
</nav>
