<nav class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <img src="assets/logo/anstagram-transperent-logo.png" alt="logo" width="112" height="28">
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/create">
        <img src="/assets/icons/add-icon.png" width="24" height="24" alt="add">
      </a>
      <a class="navbar-item">
        <img src="/assets/icons/explore-icon.png" width="24" height="24" alt="explore">
      </a>
      <a class="navbar-item">
        <img src="/assets/icons/heart-icon.png" width="24" height="24" alt="heart">
      </a>
      <a class="navbar-item">
        <img src="/assets/icons/profile-icon.png" width="24" height="24" alt="profile">
      </a>
      <a class="navbar-item" (click)="logout()">
        <img src="/assets/icons/logout-icon.png" width="24" height="24" alt="logout">
      </a>
    </div>
  </div>
</nav>

<!-- Mobile Navbar -->
<div class="mobile-nav">
  <div class="logo">
    <a class="navbar-item" routerLink="/home">
      <img src="assets/logo/anstagram-transperent-logo.png" alt="logo" width="112" height="28">
    </a>
  </div>
  <div class="items">
    <a class="navbar-item" routerLink="/create">
      <img src="/assets/icons/add-icon.png" width="24" height="24" alt="add">
    </a>
    <a class="navbar-item">
      <img src="/assets/icons/explore-icon.png" width="24" height="24" alt="explore">
    </a>
    <a class="navbar-item">
      <img src="/assets/icons/heart-icon.png" width="24" height="24" alt="heart">
    </a>
    <a class="navbar-item">
      <img src="/assets/icons/profile-icon.png" width="24" height="24" alt="profile">
    </a>
    <a class="navbar-item" (click)="logout()">
      <img src="/assets/icons/logout-icon.png" width="24" height="24" alt="logout">
    </a>
  </div>
</div>
