<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h3 class="title is-3">Register</h3>
        <form [formGroup]="registerForm" (ngSubmit)="register()">

          <div class="field">
            <label class="label">First Name</label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="First Name" formControlName="firstName">
              <span class="icon is-small is-left">
                <fa-icon icon="user"></fa-icon>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Last Name</label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Last Name" formControlName="lastName">
              <span class="icon is-small is-left">
                <fa-icon icon="user"></fa-icon>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="Email" [ngClass]="{'is-danger': isEmailInvalid}" formControlName="email" (blur)="onInputBlur()">
              <span class="icon is-small is-left">
                <fa-icon icon="envelope"></fa-icon>
              </span>
              <span class="icon is-small is-right" *ngIf="isEmailInvalid">
                <fa-icon icon="exclamation-triangle"></fa-icon>
              </span>
            </div>
            <p class="help is-danger" *ngIf="isEmailInvalid">This email is invalid</p>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="password" placeholder="Password" formControlName="password" [ngClass]="{'is-danger': !isPasswordsMatch}" (blur)="validatePassword()">
              <span class="icon is-small is-left">
                <fa-icon icon="key"></fa-icon>
              </span>
              <span class="icon is-small is-right" *ngIf="!isPasswordsMatch">
                <fa-icon icon="exclamation-triangle"></fa-icon>
              </span>
            </div>
            <p class="help is-danger" *ngIf="!isPasswordsMatch">Password do not match</p>
          </div>

          <div class="field">
            <label class="label">Confirm Password</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="password" placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{'is-danger': !isPasswordsMatch}" (blur)="validatePassword()">
              <span class="icon is-small is-left">
                <fa-icon icon="key"></fa-icon>
              </span>
              <span class="icon is-small is-right" *ngIf="!isPasswordsMatch">
                <fa-icon icon="exclamation-triangle"></fa-icon>
              </span>
            </div>
            <p class="help is-danger" *ngIf="!isPasswordsMatch">Password do not match</p>
          </div>

          <div class="field">
            <label class="label">Date of Birth</label>
            <div class="control has-icons-left">
              <input class="input" type="date" placeholder="Date of Birth" formControlName="dateOfBirth">
              <span class="icon is-small is-left">
                <fa-icon icon="calendar"></fa-icon>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Gender</label>
            <div class="control">
              <div class="select">
                <select formControlName="gender" placeholder="Select Gender">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" formControlName="termsAndConditions">
                I agree to the <a>terms and conditions</a>
              </label>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" [disabled]="!registerForm.valid">Submit</button>
            </div>
            <div class="control">
              <button class="button is-text" routerLink="/login">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
