<section class="section" *ngIf="!isRegistrationComplete">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h3 class="title is-3">Register</h3>
        <ia-notification [className]="notificationType" [message]="errorMessage"></ia-notification>
        <form [formGroup]="registerForm" (ngSubmit)="register()">

          <div class="field">
            <label class="label">First Name</label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="First Name" formControlName="firstName" name="firstName">
              <span class="icon is-small is-left">
                <fa-icon icon="user"></fa-icon>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Last Name</label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Last Name" formControlName="lastName" name="lastName">
              <span class="icon is-small is-left">
                <fa-icon icon="user"></fa-icon>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="Email" [ngClass]="{'is-danger': isEmailInvalid}"
                formControlName="email" (input)="checkEmail()" name="email">
              <span class="icon is-small is-left">
                <fa-icon icon="envelope"></fa-icon>
              </span>
              <span class="icon is-small is-right" *ngIf="isEmailInvalid">
                <fa-icon icon="exclamation-triangle"></fa-icon>
              </span>
            </div>
            <p class="help is-danger" *ngIf="isEmailInvalid">This email is invalid</p>
            <p class="help is-success" *ngIf="!isEmailInvalid && registerForm?.controls?.email?.value !== ''">Cool! you
              will receive verification link on this email</p>
          </div>

          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Username" [ngClass]="{'is-danger': isUsernameInvalid}"
                formControlName="username" name="username" (input)="checkUsername()" minlength="4">
              <span class="icon is-small is-left">
                <fa-icon icon="id-card"></fa-icon>
              </span>
              <span class="icon is-small is-right" *ngIf="isUsernameInvalid">
                <fa-icon icon="exclamation-triangle"></fa-icon>
              </span>
              <span class="icon is-small is-right" *ngIf="!isUsernameInvalid && isUsernameAvailable">
                <fa-icon icon="check"></fa-icon>
              </span>
            </div>
            <p class="help is-danger" *ngIf="!isUsernameAvailable && registerForm?.controls?.username?.value !== ''">sorry, this username already taken
            </p>
            <p class="help is-danger" *ngIf="!!registerForm?.controls?.username?.errors?.minlength">username must be at
              least 4 characters long.</p>
            <p class="help is-success"
              *ngIf="!registerForm?.controls?.username?.errors && !isUsernameInvalid && !!registerForm?.controls?.username?.dirty && registerForm?.controls?.username?.value !== ''">
              Yes! this
              username is available</p>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="password" placeholder="Password" formControlName="password"
                [ngClass]="{'is-danger': !isPasswordsMatch}" (blur)="validatePassword()" name="password">
              <span class="icon is-small is-left">
                <fa-icon icon="key"></fa-icon>
              </span>
              <span class="icon is-small is-right" *ngIf="!isPasswordsMatch">
                <fa-icon icon="exclamation-triangle"></fa-icon>
              </span>
            </div>
            <p class="help is-danger" *ngIf="!isPasswordsMatch">Password do not match</p>
          </div>

          <div class="field">
            <label class="label">Confirm Password</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                [ngClass]="{'is-danger': !isPasswordsMatch}" (blur)="validatePassword()" name="confirmPassword">
              <span class="icon is-small is-left">
                <fa-icon icon="key"></fa-icon>
              </span>
              <span class="icon is-small is-right" *ngIf="!isPasswordsMatch">
                <fa-icon icon="exclamation-triangle"></fa-icon>
              </span>
            </div>
            <p class="help is-danger" *ngIf="!isPasswordsMatch">Password do not match</p>
          </div>

          <div class="field">
            <label class="label">Date of Birth</label>
            <div class="control has-icons-left">
              <input class="input" type="date" placeholder="Date of Birth" formControlName="dateOfBirth"
                name="dateOfBirth">
              <span class="icon is-small is-left">
                <fa-icon icon="calendar"></fa-icon>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Gender</label>
            <div class="control">
              <div class="select">
                <select formControlName="gender" placeholder="Select Gender" name="gender">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" formControlName="termsAndConditions" name="termsAndConditions">
                I agree to the <a>terms and conditions</a>
              </label>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button type="button" class="button is-link" [disabled]="!registerForm.valid"
                (click)="register()">Submit</button>
            </div>
            <div class="control">
              <button type="button" class="button is-text" routerLink="/login">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Show After Registration is Successful -->
<section class="section" *ngIf="isRegistrationComplete">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h3 class="title is-3">Registered Successfully</h3>
        <div class="field is-grouped">
          <div class="control">
            <p>Please confirm your email to login</p>
            <button type="button" class="button is-text" routerLink="/login">Let's Login!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
