.profile-section {
  padding-top: 64px;
}

.profile-section-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.profile-info {
  p {
    margin-top: 8px;
  }
}

.profile-pic {
  height: 150px !important;
  width: 150px !important;
  border: 1px solid #eee;
  cursor: pointer;
}

span {
  margin-left: 8px;
}

.settings-icon {
  cursor: pointer;
}
