<div class="container">
  <div class="section profile-section" *ngIf="userInfo">
    <div class="profile-section-wrapper">
      <div class="profile-pic">
          <figure class="image is-1by1" title="Change Profile Picture">
              <img class="is-rounded profile-pic" [src]="userInfo?.avatar ? userInfo?.avatar : defaultAvatar" alt="Image"
                alt="Image">
            </figure>
      </div>
      <div class="profile-info">
        <p class="is-size-4">
          {{ userInfo?.username }} <span><button type="button" class="button">Edit Profile</button></span> <span
            class="settings-icon">
            <fa-icon icon="cog"></fa-icon>
          </span></p>
      </div>
    </div>
  </div>
</div>
