.top-space {
  margin-top: 16px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  overflow: hidden;
}

.wrapper {
  text-align: center;
  padding: 16px;
}

.logo-placeholder {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.input-placeholder {
  height: 32px;
  width: 100%;
  max-width: 500px;
  margin-top: 32px;
}
