<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h3 class="title is-3">Update Profile Picture</h3>
        <form (ngSubmit)="updateProfilePic()">
          <div class="field">
            <label for="description">Image <i><small>(please make sure image have 1x1 aspect ratio for
                  better
                  display)</small></i></label>
            <file-pond #imageUpload [options]="pondOptions">
            </file-pond>
            <p class="help is-danger" *ngIf="isError">something went wrong, try again</p>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button type="button" class="button is-link" (click)="updateProfilePic()"
                [disabled]="uploadedFiles?.length === 0">Change</button>
            </div>
            <div class="control">
              <button type="button" class="button is-text" (click)="goBack()">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
