<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h3 class="title is-3">Login</h3>
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-danger" type="email" placeholder="Email">
            <span class="icon is-small is-left">
              <fa-icon icon="envelope"></fa-icon>
            </span>
            <span class="icon is-small is-right">
              <fa-icon icon="exclamation-triangle"></fa-icon>
            </span>
          </div>
          <p class="help is-danger">This email is invalid</p>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-danger" type="password" placeholder="Password">
            <span class="icon is-small is-left">
              <fa-icon icon="lock"></fa-icon>
            </span>
            <span class="icon is-small is-right">
              <fa-icon icon="exclamation-triangle"></fa-icon>
            </span>
          </div>
          <p class="help is-danger">This email is invalid</p>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Login</button>
          </div>
          <div class="control">
            <button class="button is-text" routerLink="/register">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>