<div class="container">
  <div class="tabs is-centered">
    <ul>
      <li class="is-active">
        <a>
          <span class="icon is-small">
            <fa-icon icon="camera"></fa-icon>
          </span>
          <span>Posts</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small">
            <fa-icon icon="bookmark"></fa-icon>
          </span>
          <span>Saved</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small">
            <fa-icon icon="users"></fa-icon>
          </span>
          <span>Tagged</span>
        </a>
      </li>
    </ul>
  </div>
</div>
