<!-- Mobile Bottom Navbar -->
<div class="mobile-nav">
  <a class="navbar-item" routerLink="/create">
    <img src="/assets/icons/add-icon.png" width="24" height="24" alt="add">
  </a>
  <a class="navbar-item">
    <img src="/assets/icons/explore-icon.png" width="24" height="24" alt="explore">
  </a>
  <a class="navbar-item">
    <img src="/assets/icons/heart-icon.png" width="24" height="24" alt="heart">
  </a>
  <a class="navbar-item" routerLink="/shindesharad71">
    <img src="/assets/icons/profile-icon.png" width="24" height="24" alt="profile">
  </a>
</div>
